{% extends "base.html" %}
{% load static %}

{% block content %}
<div id="myCarousel" class="carousel slide mb-6" data-bs-ride="carousel">
    <div class="carousel-indicators">
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="0" class="active" aria-current="true"
            aria-label="Slide 1"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="1" aria-label="Slide 2"></button>
        <button type="button" data-bs-target="#myCarousel" data-bs-slide-to="2" aria-label="Slide 3"></button>
    </div>
    <div class="carousel-inner">
        <div class="carousel-item active">
            <img src="{% static 'img/calabazas-ventas.jpg' %}" class="d-block w-100" style="max-height: 600px; object-fit: cover;" alt="Imagen de Calabaza">
            <div class="container">
                <div class="carousel-caption text-start">
                    <h1>Calabazas en venta!</h1>
                    <p class="opacity-75">Puedes realizar la compra Iniciando Sesión</p>
                    <p><a class="btn btn-lg btn-primary" href="{% url 'login' %}">Inicia Sesión</a></p>
                </div>
            </div>
        </div>
        
        <div class="carousel-item">
            <img src="{% static 'img/imagen-calabaza.jpg' %}" class="d-block w-100" style="max-height: 600px; object-fit: cover;" alt="Imagen de Calabaza">
            <div class="container">
                <div class="carousel-caption">
                    <h1>Esto puedes realizar tu!</h1>
                </div>
            </div>
        </div>
        <div class="carousel-item">
            <img src="{% static 'img/demostracion-calabazas.jpg' %}" class="d-block w-100" style="max-height: 600px; object-fit: cover;" alt="Imagen de Calabaza">
            <div class="container">
                <div class="carousel-caption text-end">
                    <h1>Uno mas para que pueda convencerte</h1>
                    <p>Un ejemplo de lo que hicimos el año pasado</p>
                </div>
            </div>
        </div>
    </div>
    <button class="carousel-control-prev" type="button" data-bs-target="#myCarousel" data-bs-slide="prev">
        <span class="carousel-control-prev-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Previous</span>
    </button>
    <button class="carousel-control-next" type="button" data-bs-target="#myCarousel" data-bs-slide="next">
        <span class="carousel-control-next-icon" aria-hidden="true"></span>
        <span class="visually-hidden">Next</span>
    </button>
</div>
{% endblock %}