{% extends "base.html" %}
{% load static %}

{% block extra_styles %}
<style>
    .fondo-completo {
        background-image: url('{% static "img/background-login.jpg" %}');
        background-size: cover;
        background-position: center;
        background-attachment: fixed;
        /* La imagen de fondo se queda fija al hacer scroll */
        min-height: 100vh;
        /* Asegura que cubra toda la altura de la ventana */
        display: flex;
        align-items: center;
        justify-content: center;
    }
</style>
{% endblock %}

{% block title %}INACAPBAZA - Registro{% endblock %}

{% block content %}
<div class="fondo-completo">
    <div class="fondo-formulario">
        <h2 class="text-center">Registro de Usuario</h2>
        <form method="post">
            {% csrf_token %}
            {{ form.as_p }}
            <div class="d-flex justify-content-center mt-4">
                <button type="submit" class="btn btn-primary">Registrarse</button>
            </div>
        </form>
        {% if messages %}
        <ul class="mt-3">
            {% for message in messages %}
            <li class="alert alert-info">{{ message }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    </div>
</div>
{% endblock %}